@import url('fonts/font-awesome.css');

* {
	box-sizing: border-box;
}

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root,
html,
body {
	height: 100%;
}

a {
	color: #000;
	text-decoration: none;
}

body {
	margin: 0;
	background-color: #405060;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}
